{{>navbar user=data.userHbs}}
<div class="styleprofile">
    <h1>{{data.movieHbs.Title}}</h1>

    <div class="movieprofile">
        <div class="movieimage">
            <img src={{data.movieHbs.Poster}} alt="moviename">
        </div>

        <div class="keymoviestats">
            <h2>Movie summary</h2>
            <ul class="statsbullets">
                <li>Genre:{{data.movieHbs.Genre}}</li>
                <li>Actors:{{data.movieHbs.Actors}}</li>
                <li>Producer:{{data.movieHbs.Director}}</li>
                <li>Year:{{data.movieHbs.Released}}</li>
                <li>Country/Language:{{data.movieHbs.Language}}</li>
                <li>IMDb Rating:{{data.movieHbs.imdbRating}}</li>
            </ul>
        </div>

        <div class="description">
            <h2>Movie Plot</h2>
            <p>{{data.movieHbs.Plot}}</p>
        </div>
    </div>

    <div class="btns">
        <a class="btn1" href="/fav/{{data.movieHbs.Title}}">Add to Favourites</a>
        <a class="btn2" href="/watch/{{data.movieHbs.Title}}">Add to Watchlist</a>
    </div>
</div>