<div class="styleprofile">
    <h1>{{movieHbs.Title}}</h1>

    <div class="movieprofile">
        <div class="movieimage">
            <img src={{movieHbs.Poster}} alt="moviename">
        </div>

        <div class="keymoviestats">
            <h2>Movie summary</h2>
            <ul class="statsbullets">
                <li>Genre:{{movieHbs.Genre}}</li>
                <li>Actors:{{movieHbs.Actors}}</li>
                <li>Producer:{{movieHbs.Director}}</li>
                <li>Year:{{movieHbs.Released}}</li>
                <li>Country/Language:{{movieHbs.Language}}</li>
                <li>IMDb Rating:{{movieHbs.imdbRating}}</li>
            </ul>
        </div>

        <div class="description">
            <h2>Movie Plot</h2>
            <p>{{movieHbs.Plot}}</p>
        </div>
    </div>

    <div class="btns">
        <a href="/">Add to Favourites</a>
        <a href="/">Add to Watchlist</a>
    </div>

    {{!-- <div class="reviewsarea">
        <div class="commentssection">
            <h2>USER REVIEWS</h2>

            <p>Please let us know your views on this movie!<br></p>
            <form class="userreview" action="/" method="post">
                <input class="inputfield" type="text" id="review" name="review"><br><br>
                <button class="addreviewbtn">ADD REVIEW</button>
            </form>
        </div>
    </div>     --}}
</div>